<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.example.cafetime.cafetime">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".Preferences"/>
		<activity android:name=".ItemDetailActivity"/>
		<activity android:name=".SiteSettingActivity"/>
		<activity android:name=".StartTimerSettingActivity"/>
		<activity android:name=".EndTimerSettingActivity"/>
		<activity android:name=".Browser"/>
		<activity android:name=".PopupNotification"/>
		<activity android:name=".GraphViewActivity"/>

		<service android:name="TimerService"/>
		<service android:name=".StopWatchService"/>
	</application>

<!-- インターネットを使用するための権限を追加 -->
	<uses-permission android:name="android.permission.INTERNET"/>

</manifest>